---
Title: About
---

<p>I am an engineering manager at <a href="https://www.captivateiq.com/">CaptivateIQ</a>, a startup making software for the sales commission space. Previously I worked as a software developer at the <a href="http://umiacs.umd.edu/">University of Maryland Institute for Advanced Computer Studies</a>. I have a bachelor's degree in <a href="https://cs.umd.edu">Computer Science</a> with a minor in Philosophy.</p>

<p>I have always enjoyed designing and building high quality software. Currently I live in Washington, DC.</p>

