---
Title: Now
---

<h2>What am I working on now?</h2>
<p>
Focusing on becoming a more capable and effective engineering manager. I am currently reading a few books on management.
</p>

<h2>Outside interests</h2>
<h3>Bridge</h3>
<p>
Been casually practicing bridge for the last 3 or 4 years.  I have a pretty good scaffold for how to play decently, but probably have to unlearn some bad/lazy habits to advance much further.  I keep a membership to <a href="https://skybridgeclub.com/">Sky Bridge Club</a> to make me more likely to practice regularly.
</p>

<h3>Health and Fitness</h3>
<p>
Currently trying to improve my pushup strength by improving my form. (Slower movements with less momentum, longer holds during the bottom of the eccentric movement, elevated hands and legs)
</p>

<hr class="flared">

<p class="right"><i>Updated October 29th, 2023</i></p>
